<div class="text-center">
    <p class="text-muted"><small>posted on {{ page.date | date: "%B %d, %Y" }}</small></p>
    <h2>{{ page.title }}</h2>
    {% if page.author != "" %}
    {% assign author = site.data.authors[page.author] %}
    <p class="text-muted">by: {{ author.name }}{% if author.twitter != "" %} (<a href="//twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a> <span class="social-icon social-icon-16 social-icon-twitter"></span>){% endif %}</p>
    {% endif %}
    {% if page.tags %}
    {% assign tags = page.tags | sort %}
    <p class="post-tags">{% for tag_id in tags %}{% assign tag = site.data.tags[tag_id] %}<a href="{{ site.url }}/tags/{{ tag_id }}/" title="View all pages tagged '{{ tag.text }}'"><span class="label label-default">{{ tag.text }}</span></a>{% if forloop.last != true%}&nbsp;{% endif %}{% endfor %}</p>
    {% endif %}
</div>
