<div class="container">
    {% for post in include.posts %}
    <div class="post-excerpt">
        <p class="text-muted"><small>posted on {{ post.date | date: "%B %d, %Y" }}</small></p>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {% if post.author != "" %}
        {% assign author = site.data.authors[post.author] %}
        <p class="text-muted"><small>by: {{ author.name }}</small></p>
        {% endif %}
        {{ post.excerpt }}
        {% if forloop.last != true %}<hr>{% endif %}
    </div>
    {% endfor %}
</div>
