---
title: ""
---

{% if paginator.page == 1 %}
<div id="jumbotron" class="cover-container">
    <div class="container">
        <div class="mega-image">
            <img class="img-responsive" src="{{ site.image_path }}/automate-your-life@1x.png" alt="Automate your life">
        </div>
        <div class="inner cover text-center">
            <p class="lead">Welcome to everyone visiting from <a href="http://www.makerfairekc.com/">Maker Faire Kansas City 2016</a>! We have set up a <a href="//forum.automateyourlife.org/" title="AutomateYourLife message boards">message board</a> to help start the discussion about what we all want out of this community. <a href="//forum.automateyourlife.org/" title="AutomateYourLife message boards">Come join us!</a></p>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    {% for post in paginator.posts %}
    <div class="row post-excerpt">
        <div class="col-xs-12">
            <p class="text-muted"><small>posted on {{ post.date | date: "%B %d, %Y" }}</small></p>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            {% if post.author != "" %}
            {% assign author = site.data.authors[post.author] %}
            <p class="text-muted"><small>by: {{ author.name }}{% if author.twitter != "" %} (<a href="//twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a> <span class="social-icon social-icon-twitter"></span>){% endif %}</small></p>
            {% endif %}
            {{ post.excerpt }}
        </div>
        {% if forloop.last != true %}
        <div class="col-xs-12"><hr></div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="container">
    <nav>
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="active"><span>{{ page }}</span></li>
          {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
          {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </li>
    </ul>
    </nav>
</div>
{% endif %}
