---
---

<div class="cover-container">
    <div class="mega-image">
        <img class="img-responsive" src="assets/images/automate-your-life@1x.png" alt="Automate your life">
    </div>
    <div class="inner cover">
        <h1 class="cover-heading">Automate Your Life with Android and IFTTT</h1>
        <p class="lead">Track your medicine intake, find your phone from your watch, automatically send a text when you arrive safely at work each day. Find out how you can use Tasker, Android, IFTTT, and more to automate your life at <a href="http://www.makerfairekc.com/">Maker Faire Kansas City 2016</a>.</p>
    </div>
</div>
<div class="projects">
    <h2>Projects</h2>
    {% for p in site.projects %}{% include project.html project=p %}{% endfor %}
</div>
