{% if page.author != "" %}
{% assign author = site.data.authors[page.author] %}
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="well well-author well-lg">
            <div class="media">
                {% if author.image %}
                <section class="media-left">
                    <img class="media-object" src="{{ site.image_path }}/authors/{{ page.author }}.png" alt="{{ author.name }} bio image">
                </section>
                {% endif %}
                <section class="media-body">
                    <header>
                        <h4 class="media-heading">About {{ author.name }}</h4>
                    </header>
                    <article>
                        <p>{{ author.bio | replace: "\n", "</p><p>" }}</p>
                    </article>
                    <footer>
                        {% if author.homepage != "" %}<a href="{{ author.homepage }}"><span class="social-icon social-icon-32 social-icon-homepage"></span></a>{% endif %}
                        {% if author.twitter != "" %}<a href="https://twitter.com/{{ author.twitter }}"><span class="social-icon social-icon-32 social-icon-twitter"></span></a>{% endif %}
                        {% if author.github != "" %}<a href="https://github.com/{{ author.github }}"><span class="social-icon social-icon-32 social-icon-github"></span></a>{% endif %}
                        {% if author.facebook != "" %}<a href="https://facebook.com/{{ author.facebook }}"><span class="social-icon social-icon-32 social-icon-facebook"></span></a>{% endif %}
                    </footer>
                </section>
            </div>
        </div>
    </div>
</div>
{% endif %}
