{% assign project = include.project %}
<div class="media" id="{{ project.id }}">
    {% if project.image != "" %}
    <!-- {% raw %}{{ project.image }}{% endraw %} == "{{ project.image }}" -->
    <div class="media-left">
        {% if project.url != "" %}<a href="{{ project.url }}">{% endif %}
            <img src="{{ site.image_path }}{{ project.image }}" width="72" height="108" alt="project icon">
            {% if project.url != "" %}</a>{% endif %}
    </div>
    {% endif %}
    <div class="media-body">
        <h3 class="media-heading">{% if project.url != "" %}<a href="{{ project.url }}">{% endif %}{{ project.title }}{% if project.url != "" %}</a>{% endif %}</h3>
        <p class="description">
            {% if project.shortdesc != "" && project.problem == "" && project.solution == "" %}
            {{ project.shortdesc }}
            {% else %}
            <strong>Problem</strong>: {{ project.problem }}<br />
            <strong>Solution</strong>: {{ project.solution }}
            {% endif %}
        </p>
        {% assign tags = project.tags | sort %}
        <p class="categories">{% for tag_id in tags %}{% assign tag = site.data.tags[tag_id] %}<span class="label label-default">{{ tag.text }}</span>{% if forloop.last != true %}&nbsp;{% endif %}{% endfor %}</p>
    </div>
</div>
