---
layout: default
---

{% assign tag = site.data.tags[paginator.tag] %}

<div class="container">
    <h2>Items Tagged "{{ tag.text }}"</h2>
</div>

{% include post-list.html posts=paginator.posts %}

{% if paginator.total_pages > 1 %}
<div class="container">
    <nav>
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li class="active"><span>{{ page }}</span></li>
              {% elsif page == 1 %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
              {% else %}
                <li><a href="{{ site.paginate_tags_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | replace: ':tag',paginator.tag  }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% endif %}
