body {
    background-color: #4fa1dc;
    color: white;
    padding-top: 70px;
}
a {
    color: white;
    text-decoration: underline;
}
.panel {
    color: #333;
}
.panel a {
    color: #4fa1dc;
}
.container, .container-fluid {
    max-width: 980px;
}
.navbar-brand > img {
    display: inline-block;
    margin-top: -6px;
}
.mega-image {
    text-align: center;
}
