html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #4fa1dc;
    color: white;
    padding-top: 70px;
    margin-bottom: 60px;
    font-size: 16px;
}
body.home {
    padding-top: 0;
}
body > footer.navbar {
    border-radius: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
a {
    color: white;
    text-decoration: underline;
}
.panel {
    color: #333;
}
.panel a {
    color: #4fa1dc;
}
.container, .container-fluid {
    max-width: 980px;
}
.navbar-brand > img {
    display: inline-block;
    margin-top: -6px;
}
.mega-image {
    text-align: center;
}
footer .navbar-text {
    float: none;
}
