body {
    background-color: #4fa1dc;
    color: white;
}
a {
    color: white;
    text-decoration: underline;
}
.panel {
    color: #333;
}
.panel a {
    color: #4fa1dc;
}
.site-wrapper {
    margin: 0 auto;
    max-width: 980px;
}
.nav {
    float: right;
}
.navbar-brand > img {
    display: inline-block;
}
.mega-image {
    text-align: center;
}
.footer {
    background-color: #333;
    padding: 2em 0;
    margin: 100px 0 0 0;
    text-align: center;
}
.footer a:hover {
    color: #aaa;
}
