            </div>
        </div>
        <footer class="footer">
            <div class="site-wrapper container-fluid">
                <p>&copy; <a href="http://nick.mosher.me">Nick Mosher</a> 2016 | Follow me at: <a href="https://twitter.com/moshner">@moshner</a></p>
            </div>
            <!-- This is just a test -->
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
