<div id="site-nav" class="navbar navbar-default navbar-blue navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a class="navbar-brand navbar-brand-icon" href="{{ site.url }}"><span class="glyphicon glyphicon-cog"></span></a>
            <a class="navbar-brand" href="{{ site.url }}">Automate Your Life</a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="//forum.automateyourlife.org/">Forums</a></li>
                <li><a href="{{ site.url }}about/">About</a></li>
                <li class="social"><a href="https://www.facebook.com/automatingyourlife/"><span class="social-icon social-icon-16 social-icon-facebook"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div><!-- Begin page content -->
