<nav class="navbar navbar-default navbar-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ayl-site-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}">
                <img alt="Brand" src="{{ site.image_path }}favicons/favicon-32x32.png">
            </a>
            <a class="navbar-brand navbar-brand-link" href="{{ site.url }}">Automate Your Life</a>
        </div>
        <div class="collapse navbar-collapse" id="ayl-site-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.url }}projects/">Projects</a></li>
                <li><a href="{{ site.url }}about/">About</a></li>
            </ul>
        </div>
    </div>
</nav>
