{% include layout/header.html %}
{% include layout/navbar.html %}

<div class="container-fluid">
    <div class="col-xs-12">
        <h2>{{ page.title }}</h2>
        {% if page.tags %}
        {% assign tags = project.tags | sort %}
        <p class="post-tags">{% for tag_id in tags %}{% assign tag = site.data.tags[tag_id] %}<span class="label label-default">{{ tag.text }}</span>{% if !forloop.last %}&nbsp;{% endif %}{% endfor %}</p>
        {% endif %}
    </div>
    <div class="{% if page.files.size > 0 %}col-lg-8 col-sm-6 {% endif %}col-xs-12">
        {% if page.image %}<img src="{{ site.image_path }}{{ page.image }}" width="72" height="108" title="project icon">{% endif %}

        {% if page.overview %}<h3>Overview</h3><p>{{ page.overview }}</p>{% endif %}

        <p><strong>Problem</strong>: {{ page.problem }}</p>
        <p><strong>Solution</strong>: {{ page.solution }}</p>

        {% if page.requirements %}<h3>Requirements</h3><p>{% for req in page.requirements %}{{ req }}{% if !forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}

        <hr>

        {{ content }}
    </div>
    {% if page.files.size > 0 %}
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="panel-group" id="project-file-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">Files</h4>
                </div>
                <div class="list-group">
                    {% for file in page.files %}
                    <a href="{{ site.url }}downloads/{{ file }}" title="{{ file }}" class="list-group-item project-file-link">{{ file }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% include layout/footer.html %}
