@import "bootstrap-custom";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: ($navbar-height + 20px) 0;
}

#jumbotron {
    margin-top: (-1 * $navbar-height);
}

body > footer.navbar {
    border-radius: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mega-image {
    text-align: center;
}

footer .navbar-text {
    float: none;
}

.list-group-item.project-file-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-icon {
    display: inline-block;
    background-size: cover;
    content: " ";
    overflow: hidden;

    @each $size in (16, 32, 64) {
        &.social-icon-#{$size} {
            height: #{$size}px;
            width: #{$size}px;

            @each $icon in (facebook, github, homepage, reddit, twitter, tumblr) {
                &.social-icon-#{$icon} {
                    background-image: url("/assets/images/#{$icon}-#{$size}.png");
                }
            }
        }
    }
}

#site-nav .nav > li.social {
    .navbar-text {
        color: #fff;
        margin-right: 0;
    }

    & > a {
        display: inline-block;
        padding: (($navbar-height - $font-size-base) / 2) 0;
        margin-left: $nav-link-padding-horizontal;
        line-height: $font-size-base;

        & > span {
            height: $font-size-base;
            width: $font-size-base;
        }
    }
}

.navbar-white {
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
}

.navbar-blue {
    background-color: $brand-primary;
    background-image: none;
    box-shadow: none;
    border-color: $brand-primary;
    border-radius: 0;
    margin-bottom: 0;

    .navbar-brand {
        color: #fff;

        &.navbar-brand-icon {
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        &:hover, &:focus {
            color: #fff;
            text-decoration: underline;
        }
    }

    .navbar-nav > li {
        & > a {
            color: #fff;

            &:hover, &:focus {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}

.cover-container {
    background-color: $brand-primary;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

.post-excerpt {
    margin-top: ($grid-gutter-width / 2);

    & > div:last-child > hr {
        border-color: $gray-light;
        margin-bottom: 0;
    }
}

small .social-icon {
    height: $font-size-mini;
    width: $font-size-mini;
}

.well.well-author {
    background-color: lighten($brand-primary, 35%);
    border-radius: 0;
}

.btn-muted {
  @include button-variant($btn-muted-color, $btn-muted-bg, $btn-muted-border);
}
