@import "bootstrap-custom";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: ($navbar-height + 20px) 0;
}

body > footer.navbar {
    border-radius: 0;
    border-bottom-width: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mega-image {
    text-align: center;
}

footer .navbar-text {
    float: none;
}

.list-group-item.project-file-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#site-nav .nav > li.social {
    .navbar-text {
        color: #fff;
        margin-right: 0;
    }

    & > a {
        display: inline-block;
        padding: (($navbar-height - $font-size-base) / 2) 0;
        margin-left: $nav-link-padding-horizontal;
        line-height: $font-size-base;

        & > span {
            height: $font-size-base;
            width: $font-size-base;
        }
    }
}

.cover-container {
    background-color: $brand-primary;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;
    }
}

.post-excerpt {
    margin-top: ($grid-gutter-width / 2);

    & > div:last-child > hr {
        border-color: $gray-light;
        margin-bottom: 0;
    }
}
